.app {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.header {
  background-color: rgb(225, 75, 107);
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.card {
  background-color: rgb(189, 187, 187);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}